{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Modifier un thème{% endblock %}

{% block body %}
{{parent()}}
<div class="container-fluid">   
        <div class="row justify-content-center">
            <h1 class="text-center text-primary p-4">Modifier un fichier</h1>
        </div>
        <div class="row justify-content-center">
        
        <div class="col-8 bg-white p-4 m-0 text-primary">
            {{form_start(form)}}

            {{ form_label(form.date, 'date ', {'label_attr': {'class': 'font-weight-bold'}}) }}                    
            

            {{ form_label(form.extension, 'extension ', {'label_attr': {'class': 'font-weight-bold'}}) }}                    
            {{ form_widget(form.extension, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.taille, 'taille ', {'label_attr': {'class': 'font-weight-bold'}}) }}                    
            {{ form_widget(form.taille, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.vraiNom, 'Vrai nom ', {'label_attr': {'class': 'font-weight-bold'}}) }}                    
            {{ form_widget(form.vraiNom, {'attr': {'class': 'form-control'}}) }}
            

            {{form_end(form)}}
            
            </div>
        </div>
</div>
{% endblock %}        